/* Do not mark as important to allow sites to hide outlines normally displayed via mouse interaction */
:not(.primary-selection):focus {
  --webkit-focus-ring-color: hsla(217, 99%, 65%, 0.5);
  outline: var(--webkit-focus-ring-color) solid 2px;
}

/* Outlines displayed via keyboard interaction */
:not(.primary-selection):focus-visible {
  --webkit-focus-ring-color: hsla(217, 99%, 65%, 0.5);
  outline: var(--webkit-focus-ring-color) solid 2px !important;
}
